<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>hello angular</title>
</head>
<body ng-app>
	<div ng-controller="helloController">
		<input type="text" ng-model="name" placeholder="please enter your name">
		<h1>hello, {{name}}</h1>
		<h1>{{clock}}</h1>
	</div>

	<!-- <input type="text" ng-model="name" placeholder="please enter your name">
	<h1>hello, {{name}}</h1> 
	<script type="text/javascript" src="../js/framework/require.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>-->
	
	<script type="text/javascript" src="../js/framework/angular-1.3.0.js"></script>
	<script>
		
		function helloController($scope, $timeout) {
			var updateClock = function (){
				$scope.clock = new Date();
				$timeout(function(){
					updateClock();
				}, 500);
			};
			updateClock();
		}
	</script>
</body>
</html>